config VIDEO_INTEL_IPU6
	tristate "Intel IPU6 driver"
	depends on ACPI || COMPILE_TEST
	depends on MEDIA_SUPPORT
	depends on MEDIA_PCI_SUPPORT
	depends on X86 && X86_64
	select IOMMU_IOVA
	select VIDEOBUF2_DMA_CONTIG
	select V4L2_FWNODE
	help
	  This is the 6th Gen Intel Image Processing Unit, found in Intel SoCs
	  and used for capturing images and video from camera sensors.

	  To compile this driver, say Y here! It contains 2 modules -
	  intel_ipu6 and intel_ipu6_isys.
